body {
   display: flex;
   flex-direction: column;

   background: #0f0c29;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-custom-blue {
   background: #483D8B;
}

.text-custom-blue {
   color: #4682B4;
}

.hover-light-blue:hover {
   color: #B0C4DE !important;
   text-decoration: underline #B0C4DE !important;
}

main {
   flex: 1 0 auto;
   align-items: center;
   padding-top: 7em;
   min-height: 100vh; 
}

footer {
   flex-shrink: 0;
   padding-top: 20px;
}
