<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login Simple</title>
   {{> head}}
</head>

<body>

   <header class="fixed-top">
      {{> navigation}}
   </header>
   <main class="container">
      {{{body}}}
   </main>
   <footer class="bg-light">
      {{> footer}}
   </footer>

   {{> def-scripts}}
</body>

</html>