<section class="row mt-5">
   <div class="col-md-9 col-lg-4 rounded mx-auto bg-custom-blue p-5 shadow">
      <h1 class="text-light text-center mb-2">Log In</h1>
      <form action="/users/login" method="POST">
         <div class="form-group">
            <label class="text-white" for="exampleInputEmail1">
               <i class="fa fa-user" aria-hidden="true"></i> Username</label>
            <input name="username" type="text" class="form-control" id="exampleInputEmail1"
               aria-describedby="emailHelp">
         </div>
         <div class="form-group">
            <label class="text-white" for="exampleInputPassword1">
               <i class="fa fa-lock" aria-hidden="true"></i> Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1">
         </div>
         <button type="submit" class="btn btn-outline-light">Submit</button>
      </form>
      <p class="mt-2 text-white">Don't have an account?
         <a class="text-custom-blue hover-light-blue" href="/users/register">Create one!</a>
      </p>
   </div>
</section>
<script src="/js/forms.js"></script>