<section class="row">
   <div class="col-12 col-md-8 col-lg-4 mx-auto p-4 bg-custom-blue rounded shadow text-light">
      <h1 class="text-center mb-3">Ingreso Usuario</h1>
      <form action="/users/signin" method="POST">
         <div class="form-group">
            <label>Correo</label>
            <input name="email" type="email" class="form-control"> 
         </div>
         <div class="form-group">
            <label>Contraseña</label>
            <input name="password" type="password" class="form-control"> 
         </div>
         <input class="btn btn-outline-light" type="submit" value="Ingresar">
      </form>
      <p class="mt-3">No tienes cuenta?<a class="text-custom-blue hover-light-blue" href="/users/signup"> Crea una!</a></p>
   </div>
</section>

<script src="/js/forms.js"></script>